<h1>Secrets</h1>

<%= will_paginate @secrets, renderer: BootstrapPagination::Rails %>

<%= form_tag("/secrets/generate", method: "post") do %>
  <%=select_tag "number", options_for_select(@generate_select_options, @default_select) %> 
  <%= submit_tag("Secret generate", class: "btn btn-info") %>
<% end %>

<table class="table" style="height:100px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">secret</th>
      <th scope="col">User</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
    </tr>
  </thead>
  <tbody>
    <% @secrets.each_with_index do |secret, index| %>
      <tr>
        <th scope="row"><%= @start_index + index + 1 %></th>
        <td><%= secret.encrypted_secret%></td>
        <td><%= secret.user.try(:email) || '--'%></td>
        <td><%= secret.user.try(:first) || '--'%></td>
        <td><%= secret.user.try(:last) || '--'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @secrets, renderer: BootstrapPagination::Rails %>

<%#= link_to 'New Secret', new_secret_path %>
